coherence-twelve-one-two/src/main/resources/coherence-nosql-config.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="class://oracle.kv.coherence.NoSQLNamespaceHandler"
            xmlns="class://oracle.kv.coherence.NoSQLNamespaceHandler"
            xmlns:coh="http://xmlns.oracle.com/coherence/coherence-cache-config"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            version="1.2">

    <xsd:annotation>
        <xsd:documentation>
            Copyright (c) 2000, 2013, Oracle and/or its affiliates. All rights reserved.

            Oracle is a registered trademarks of Oracle Corporation and/or its
            affiliates.

            This software is the confidential and proprietary information of
            Oracle Corporation. You shall not disclose such confidential and
            proprietary information and shall use it only in accordance with the
            terms of the license agreement you entered into with Oracle.

            This notice may not be removed or altered.
        </xsd:documentation>
    </xsd:annotation>

    <xsd:annotation>
        <xsd:documentation>
        </xsd:documentation>
    </xsd:annotation>

    <xsd:import namespace="http://xmlns.oracle.com/coherence/coherence-cache-config"
                schemaLocation="http://xmlns.oracle.com/coherence/coherence-cache-config coherence-cache-config.xsd"/>

    <xsd:complexType name="nosql-cachestore-base-type">
        <xsd:sequence>
            <xsd:element ref="store-name" minOccurs="1" maxOccurs="1"/>
            <xsd:element ref="helper-hosts" minOccurs="1" maxOccurs="1"/>
            <xsd:choice>
                <xsd:element ref="key-prefix" minOccurs="0"/>
                <xsd:element ref="key-mapper" minOccurs="0"/>
            </xsd:choice>
            <xsd:element ref="consistency" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="consistency-time-lag" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="consistency-timeout" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="durability-master-sync" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="durability-replica-sync" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="durability-replica-ack" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="binary-cache-store-type">
        <xsd:complexContent>
            <xsd:extension base="nosql-cachestore-base-type">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="binary-cache-store" type="binary-cache-store-type">
        <xsd:annotation>
            <xsd:documentation>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="avro-cache-store-type">
        <xsd:complexContent>
            <xsd:extension base="nosql-cachestore-base-type">
                <xsd:sequence>
                    <xsd:element ref="avro-format" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="schema-files" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="avro-cache-store" type="avro-cache-store-type">
        <xsd:annotation>
            <xsd:documentation>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="store-name">
        <xsd:annotation>
            <xsd:documentation>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="coh:coherence-string-type"/>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="helper-hosts">
        <xsd:annotation>
            <xsd:documentation>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="coh:coherence-string-type"/>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="key-prefix">
        <xsd:annotation>
            <xsd:documentation>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="coh:coherence-string-type"/>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="key-mapper">
        <xsd:annotation>
            <xsd:documentation>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="coh:instance" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="avro-format-enum-type">
        <xsd:restriction base="xsd:normalizedString">
            <xsd:enumeration value="SPECIFIC"/>
            <xsd:enumeration value="GENERIC"/>
            <xsd:enumeration value="JSON"/>
            <xsd:enumeration value="RAW"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="avro-format-base-type">
        <xsd:union memberTypes="coh:coherence-base-type avro-format-enum-type"/>
    </xsd:simpleType>

    <xsd:element name="avro-format">
        <xsd:annotation>
            <xsd:documentation>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="avro-format-base-type">
                    <xsd:attribute name="system-property" type="xsd:normalizedString"
                                   use="optional"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="schema-files">
        <xsd:annotation>
            <xsd:documentation>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="coh:coherence-string-type"/>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="consistency-enum-type">
        <xsd:restriction base="xsd:normalizedString">
            <xsd:enumeration value="ABSOLUTE"/>
            <xsd:enumeration value="NONE_REQUIRED_NO_MASTER"/>
            <xsd:enumeration value="NONE_REQUIRED"/>
            <xsd:enumeration value="TIME"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="consistency-base-type">
        <xsd:union memberTypes="coh:coherence-base-type consistency-enum-type"/>
    </xsd:simpleType>

    <xsd:element name="consistency">
        <xsd:annotation>
            <xsd:documentation>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="consistency-base-type">
                    <xsd:attribute name="system-property" type="xsd:normalizedString"
                                   use="optional"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="consistency-time-lag" type="coh:coherence-time-type">
        <xsd:annotation>
            <xsd:documentation>

                The value of this element must be in the following
                format:

                (\d)+((.)(\d)+)?(MS|ms|S|s|M|m|H|h|D|d)?

                where the first
                non-digits (from left to right) indicate the unit of time
                duration:

                -MS or ms (milliseconds)
                -S or s (seconds)
                -M or m (minutes)
                -H or h
                (hours)
                -D or d (days)

                If the value does not contain a unit, a unit of
                seconds is assumed.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="consistency-timeout" type="coh:coherence-time-type">
        <xsd:annotation>
            <xsd:documentation>

                The value of this element must be in the following
                format:

                (\d)+((.)(\d)+)?(MS|ms|S|s|M|m|H|h|D|d)?

                where the first
                non-digits (from left to right) indicate the unit of time
                duration:

                -MS or ms (milliseconds)
                -S or s (seconds)
                -M or m (minutes)
                -H or h
                (hours)
                -D or d (days)

                If the value does not contain a unit, a unit of
                seconds is assumed.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:simpleType name="durability-enum-type">
        <xsd:restriction base="xsd:normalizedString">
            <xsd:enumeration value="NO_SYNC"/>
            <xsd:enumeration value="SYNC"/>
            <xsd:enumeration value="WRITE_NO_SYNC"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="durability-base-type">
        <xsd:union memberTypes="coh:coherence-base-type durability-enum-type"/>
    </xsd:simpleType>

    <xsd:element name="durability-master-sync">
        <xsd:annotation>
            <xsd:documentation>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="durability-base-type">
                    <xsd:attribute name="system-property" type="xsd:normalizedString"
                                   use="optional"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="durability-replica-sync">
        <xsd:annotation>
            <xsd:documentation>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="durability-base-type">
                    <xsd:attribute name="system-property" type="xsd:normalizedString"
                                   use="optional"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="durability-replica-ack-enum-type">
        <xsd:restriction base="xsd:normalizedString">
            <xsd:enumeration value="ALL"/>
            <xsd:enumeration value="NONE"/>
            <xsd:enumeration value="SIMPLE_MAJORITY"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="durability-replica-ack-base-type">
        <xsd:union memberTypes="coh:coherence-base-type durability-replica-ack-enum-type"/>
    </xsd:simpleType>

    <xsd:element name="durability-replica-ack">
        <xsd:annotation>
            <xsd:documentation>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="durability-replica-ack-base-type">
                    <xsd:attribute name="system-property" type="xsd:normalizedString"
                                   use="optional"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
